@model MealPlanner.Domain.Entities.Icon

@{
    ViewData["Title"] = "Create icon";
}

<h1>Create icon</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Code" class="form-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Emoji" class="form-label"></label>
                <input asp-for="Emoji" class="form-control" />
                <span asp-validation-for="Emoji" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}