<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meal Planner</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MealPlanner.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl app-navbar">
            <div class="container-fluid px-4">
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    Meal Planner
                </a>

                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-xl-0">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Planner" asp-action="Index">Конструктор меню</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">Про програму</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Користувачі
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Користувачі</a></li>
                                <li><a class="dropdown-item" asp-controller="Profiles" asp-action="Index">Профілі</a></li>
                                <li><a class="dropdown-item" asp-controller="Configurations" asp-action="Index">Конфігурації</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Цілі та БЖВ
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Macros" asp-action="Index">Макроси</a></li>
                                <li><a class="dropdown-item" asp-controller="MacroLogs" asp-action="Index">Журнал змін</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Продукти
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Foods" asp-action="Index">Продукти</a></li>
                                <li><a class="dropdown-item" asp-controller="Icons" asp-action="Index">Іконки</a></li>
                                <li><a class="dropdown-item" asp-controller="Units" asp-action="Index">Одиниці вимірювання</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Планування
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Plans" asp-action="Index">Плани</a></li>
                                <li><a class="dropdown-item" asp-controller="Meals" asp-action="Index">Прийоми їжі</a></li>
                                <li><a class="dropdown-item" asp-controller="MealItems" asp-action="Index">Позиції у плані</a></li>
                                <li><a class="dropdown-item" asp-controller="ShopLists" asp-action="Index">Списки покупок</a></li>
                                <li><a class="dropdown-item" asp-controller="ShopItems" asp-action="Index">Позиції списку</a></li>
                                <li><a class="dropdown-item" asp-controller="Exports" asp-action="Index">Експорти</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="navbar-text app-navbar-text d-none d-xl-block">
                        Вебсистема для планування харчування та контролю даних
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid app-shell px-3 px-md-4 px-xl-5">
        <div class="app-content">
            @RenderBody()
        </div>
    </main>

    <footer class="app-footer">
        <div class="container">
            <div>Meal Planner · повнофункціональний навчальний вебдодаток</div>
            <div class="mt-1">Планування харчування, керування БЖВ, продуктами, списками покупок та експортами</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>